<!-- <section class="p-4 bg-main-light">
  <div class="container-fluid text-center">
    <div class="title">
      <h4 class="text-main">Get The E-Commerce App</h4>
      <p class="lead text-secondary">
        We Will Send You a Link,open it on Your Phone
      </p>
    </div>

    <div class="footer-info mx-4">
      <div class="form-item d-flex gap-4">
        <input
          type="text"
          class="form-control flex-grow-1"
          placeholder="Email..."
        />
        <button class="main-btn px-3 flex-shrink-0 bg-main btn ">Share App Link</button>
      </div>

      <hr class="border-secondary" />

      <div class="copy-right">
        <h6 class="text-center">&copy; <span class="text-main">Kerolos Nady ,</span> All Rights Reserved</h6>
      </div>
    </div>
  </div>
</section>
 -->
