<div class="row gx-0  p-3">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img height="360"  src="assets/image/slider1.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider2.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider3.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider4.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider5.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider6.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider7.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img height="360" src="assets/image/slider8.jpg" alt=""></ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img class="slider-img" src="assets/image/slider5.jpg" alt="">
    <img class="slider-img" src="assets/image/slider9.jpg" alt="">
  </div>
</div>
